{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Search</title>
  <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
  <script src="https://cdn.tailwindcss.com"></script>
  <script src="https://cdn.jsdelivr.net/npm/@hotwired/stimulus@3.2.1/dist/stimulus.umd.js"></script>
  <script type="module" src="{% static 'polls/chat_controller.js' %}"></script>
</head>


<body>

  <div data-controller="chat" class="max-w-3xl mx-auto pt-24">
    {{ messages|json_script:"initial-messages" }}
    <script>
      const INITIAL_MESSAGES = JSON.parse(document.getElementById('initial-messages').textContent);
      window.SYNC_CONTEXT = {
        room: "{{ room|escapejs }}",
        anime_id: "{{ anime_id|escapejs }}",
        episode: "{{ episode|escapejs }}"
      };
    </script>
    <div data-chat-target="messages">

<!-- 
      {% for m in messages %}
        {% if m.role == 'user' %}
          <div class="text-right font-bold">{{ m.content }}</div>
        {% else %}
          <div>{{ m.content }}</div>

          <div>
          {% if m.cards %}
            {% for r in m.cards %}
              {% include "polls/card.html" %}
            {% endfor %}
          {% endif %}
          </div>
          
        {% endif %}
      {% endfor %} -->
    </div>

    <div data-chat-target="suggestions"
     data-action="click->chat#select">
     
    </div>  


    <form data-chat-target="inputBox" data-action="submit->chat#send" class="flex items-center w-full max-w-3xl mt-6 pb-8">

      <button type="button"
        class="px-4 py-3 bg-gray-300 rounded"
        data-action="click->chat#clear">
        🗑
      </button>

      <input 
        data-chat-target="input"
        data-action="input->chat#onInput"
        type="text" name="q"
        placeholder="Ask anything..." 
        class="w-full p-3 rounded border border-gray-300 focus:outline-none focus:ring"
        autocomplete="off">

      <button type="submit"
        class="px-4 py-3 bg-gray-300 rounded">
        ➤
      </button>

    </form>

  </div>

</body>
</html>
